# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*.ipynb

# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
env/
*.env

# Streamlit cache
.streamlit/

# OS files
.DS_Store


# Logs
*.log

